
@model IEnumerable<RestaurantRater.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name) <!--displays the name of the model(like headers) vs displayFor displays the information (like restaurant name)-->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RestaurantId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId })
            </td>
        </tr>
     }
</table>